<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>

<body>
<span th:text="#{cars}">cars</span>
<table border="1" style="width: 300px">
    <thead>
    <tr>
        qqqq2qqq
        <span th:text="${#locale.language}">Date Planted</span>
    </tr>
    </thead >
    <thead>
    <tr>
        <th> Name </th>
        <th> Series </th>
    </tr>
    </thead >
    <tbody>

    <tr th:each="car : ${cars}">
        <td> <span th:text="${car.getName()}"> Name </span></td>
        <td><span th:text="${car.getSeries()}"> Series </span></td>
    </tr>
    </tbody>
</table>
</body>
</html>