<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>

<body>
<table border="1" style="width: 300px">
    <thead>
    <tr>
        <th th:colspan="2">Cars</tr>
    </tr>
    </thead >
    <thead>
    <tr>
        <th> Name </th>
        <th> Series </th>
    </tr>
    </thead >
    <tbody>
    <tr th:if="${cars.empty}">
        <td colspan="2"> No Cars Available </td>
    </tr>
    <tr th:each="car : ${cars}">
        <td> <span th:text="${car.getName()}"> Name </span></td>
        <td><span th:text="${car.getSeries()}"> Series </span></td>
    </tr>
    </tbody>
</table>
</body>
</html>